<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>과일 목록</title>
</head>
<body>
    <H1>과일 목록</H1>
    <UL>
        <% for (var i = 0; i < fruits.length; i++) { %>
            <LI><%= fruits[i] %></LI>
        <% } %>
    </UL>
</body>
</html>