<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사용자 디테일은 여기에...</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.Id }}</td>
                <td>{{ user.Name }}</td>
                <td>{{ user.Gender }}</td>
                <td>{{ user.Age }}</td>
                <td>{{ user.Birthdate }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
