table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 2px;
}

th {
    background-color: #ffa500;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #b3eda8;
    cursor: pointer;
}